.dropdown {
  border: 0;
  cursor: pointer;
  max-width: 252px;
  width: 100%;
  min-height: 16px;
  height: 100%;
  color: #0F1416;
  transition: background-color .2s liner;
}

.color-red {
  background-color: red;
}

.color-green {
  background-color: green;
}