.btn {
  background-color: #006297;
  color: #fff;
  transition: background-color .2s linear;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.btn-hovered {
  background-color: #004F79;
  transition: background-color .2s linear;
}

.btn-pressed {
  background-color: #003D5E;
}