.dropdown {
  border: 0;
  cursor: pointer;
  max-width: 252px;
  width: 100%;
  min-height: 16px;
  height: 100%;
  padding: 5px 0;
  color: #0F1416;
  transition: background-color .2s liner;
}


.dropdown-bg  {
  background-color: red;
}

.dropdown-bg option:hover {
  box-shadow: 0 0 10px 100px orange inset;
}