body {
	padding: 0%;
	margin: 0%;
	font-family: 'Inter', sans-serif;
  background-color: #282c34;
}

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}